<!--ナビバーの設定-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">

    <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="/">GameStatistics.info</a>
  </div>

  <div class="collapse navbar-collapse target">

    <ul class="nav navbar-nav">
      <li ><%= link_to "Game", games_path %></li>
      <li ><%= link_to "Player", players_path %></li>
      <li ><%= link_to "Tournament", tournaments_path %></li>
      <li class="active"><%= link_to "Practice", practices_path %></li>
      <li ><%= link_to "Team", teams_path %></li>

    </ul>

  </div>
</nav>


<!--表-->
<div class="container" style="padding:60px 0">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">全練習メニュー</div>

    <!-- Table -->
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr><th>練習</th></tr>
        </thead>
        <tbody>
          <% @practices.each do |practice| %>
            <tr><td><%= link_to practice.name, edit_practice_path(practice.id) %></td></tr>
          <% end %>
        </tbody>
      </table>

  </div>

  <%= link_to "追加", new_practice_path , class: "btn btn-primary" %>

</div>
